.jumbotron{
	background: url('https://cdn.vox-cdn.com/thumbor/3J5_WFH74p_e5RSV-A0MwmMtbhc=/0x0:2040x1360/1920x0/filters:focal(0x0:2040x1360):format(webp)/cdn.vox-cdn.com/uploads/chorus_asset/file/11421711/DSCF5903.jpg'); background-size: cover;height: calc(100vh - 56px);
}
.jumbotron h1{font-family: 'Playfair Display', serif; color:#0d2136;}